<div class="right-card-news__container">
    <div class="right-card-news__photo">
        <a [routerLink]="['/content', id]">
            <img 
                src="{{ newsPhoto }}"
                alt="Photo of a person" 
                height="150px"
            />
        </a>
    </div>
    <div class="right-card-news__content">
        <p class="right-card-news__datetime">{{ newsDate }}</p>
        <div class="right-card-news_title">
            <h2>
                <a [routerLink]="['/content', id]">{{ newsTitle }}</a>
            </h2>
        </div>
    </div>
</div>