<div class="left-card__container">
    <div class="left-card__photo">
        <a [routerLink]="['/content', id]">
            <img 
                src="{{ cardPhoto}}" 
                alt="Photo of a person" 
                height="200px"
            />
        </a>
    </div>
    <div class="left-card__title">
        <h2>
            <a [routerLink]="['/content', id]">{{ cardTitle }}</a>
        </h2>
    </div>
    <div class="left-card__text">
        <p>
            {{ cardSubtitle }}
        </p>
    </div>
</div>
